.main-nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 15px;
    vertical-align: middle;
  }

  .nav-bar{
    display: flex;
    width: 50%;
    float: right;
    flex-wrap: inherit;
  }

.logo{
    
}
