.right-side{
    border:1px solid #e9ecef;
    height: 100%;
    z-index: 1;
    white-space:nowrap;
    /* background-color: rgb(29,161,242); */
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}

.right-side     a {
    display: inline-block;
    text-decoration: none;
    color: white;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
    padding: 10px 15px;
    vertical-align: middle;
  }